/********************** Buttons************************************/
.custom-btn {
  border: none;
  background-color: blueviolet;
  /* transition-duration: 0.4s; */
}

.custom-btn:hover {
  background-color: #c392f1;
  color: white;
}

/********************** RadioButtons************************************/
/* $form-check-input-checked-bg-color: blueviolet; */

.form-check-input:checked {
  background-color: blueviolet;
  border: 1px solid blueviolet;
  box-shadow: none !important;
}

.form-check-input:hover {
  box-shadow: #c392f1;
  background-color: #c392f1;
}

.form-check-input:active {
  box-shadow: none !important;
}

/*
label.btn.focus {
  box-shadow: #c392f1;
}
input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid #c392f1;
  outline-offset: max(2px, 0.15em);
}
 .container:hover input ~ .form-check-input {
  background-color: #ccc;
} */

/********************** Date picker************************************/
.rmdp-input {
  height: 100%;
  /* width: 100%; */
}

/********************** Time input ************************************/
/* [type="date"] {
  background: transparent url(/assets/images/calendar.png) 97% 50% no-repeat !important;
} 
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
[type="time"] {
  background: transparent url(/assets/images/clock.png) 97% 50% no-repeat !important;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
}
[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
*/

/*********Another version of the picker *********************/
input[type="time"] {
  position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="time"]:after {
  content: "\1F551"; /*Unicode character*/
  color: #555;
  padding: 0 5px;
}

/* change color of symbol on hover */
input[type="time"]:hover:after {
  color: blueviolet;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

/* adjust increase/decrease button */
input[type="time"]::-webkit-inner-spin-button {
  z-index: 1;
}

/* adjust clear button */
input[type="time"]::-webkit-clear-button {
  z-index: 1;
}

/********************** Border Shadow input ************************************/

.form-control:focus,
select:focus {
  border-color: blueviolet;
  box-shadow: none; /*inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
}

/* .form-control:focus,
select:focus {
  box-shadow: 0 4px 2px -2px grey; //add bottom shadow
} */

/********************** File input ************************************/
::file-selector-button {
  display: none;
}
/* input[type="file" i] {
  display: none;
} */
