.resourcesRow {
  margin: auto;
  height: 30%;
  margin-bottom: 70px;
}

.my-card-body {
  /* width: 300px; */
  flex: 1 0;
}

.landing-text {
  padding: 20px;
  font-family: "Urbanist", sans-serif;
  color: darkslategray;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
}
.landing-logo {
  width: 150px;
}

.new-div {
  margin-left: 30px;
}

.my-card {
  display: flex;
  /* margin-top: 100px; */
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 10px;
  /* width: 100%; */
  background-color: #455a64 !important;
  border-top: 2px solid blueviolet;
}

.card-title {
  font-family: "Urbanist", sans-serif;
}

.circle {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 11px;
  border-radius: 51%;
  box-sizing: border-box;
  font-size: 80px;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.circle:hover {
  opacity: 0.5;
}

.bigIcon {
  font-size: 40px;
}

.purple {
  color: #b100cd;
}

.bg-shelter {
  background-color: #ca5cdd;
  background-color: blueviolet;
}

.bg-food {
  background-color: #fbbc34;
}

.bg-fucsia {
  background-color: #ff3399;
}
.bg-pink {
  background-color: #ff69b4;
}
.phoneIcon {
  font-size: 40px;
}

.orange {
  background-color: #ff9933;
}

.limeGreen {
  background-color: #99ff33;
}

.limeGreen2 {
  background-color: #86df2d;
}

.darkViolet {
  /* background-color: #581b91; */
  background-color: rgba(var(--bs-secondary-rgb));
}
/* * {
  border: 1px solid black;
} */
