/* 
    General Styles used on every page (Don't Repeat Yourself)
*/

.grand-container {
  margin: 25px;
}

.search-results-resources {
  max-width: 600px;
  min-height: 600px;
  border: none;
}

/* .report-problem {
  background-color: lightgreen;
  color: black;
} */

/* .avatar {
  height: 90px;
  width: 100px;
  margin-inline-start: 20px;
}

.emergency-button {
  width: 100px;
  height: 50px;
  font-size: small;
  color: black;
  background-color: pink;
} */

/* .resThumbnail {
  height: 50p;
  width: 50px;
} */

.search-results-resources {
  justify-content: center;
}

.card {
  max-width: 18rem;
  max-height: 25rem;
  padding: 10px;
}

.card-title {
  color: black;
  text-decoration: none;
}

.card-text {
  color: black;
  text-decoration: none;
}

/* a:hover circle {
  fill: #00b2ff;
} */
