/* ---navbar--- */
.navbar {
  background-color: #455a64;
  /* background-color: blueviolet; */
  width: 100%;
  top: 0;
  border-bottom: 2px solid blueviolet;
}
.nav-btn {
  color: white;
  font-weight: bold;
}
.nav-btn:hover {
  cursor: pointer;
  color: #d1c4e9;
}
.navbar-logo {
  width: 110px;
}

.nav-profile-icon {
  font-size: x-large;
  margin-left: 5px;
}

/* ---logReg--- */
.logRegBtnModalCont {
  display: flex;
  justify-content: center;
}
.logRegBtnModalCont button {
  width: 100%;
}
.logReggobackbtn {
  color: darkslategray;
  text-decoration: none;
}
.logReggobackbtn:hover {
  cursor: pointer;
  color: greenyellow;
}
.avatarImages {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.5;
}
.avatarImages:hover {
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.avatarImageSelected {
  width: 55px;
  height: 55px;
  border: 2px solid blue;
}
