/* 
    General Styles used on every page (Don't Repeat Yourself)
*/

.card {
  max-width: 18rem;
  max-height: 25rem;
  padding: 10px;
}

.card-title {
  color: black;
  text-decoration: none;
}

.card-text {
  color: black;
  text-decoration: none;
}

.navbar {
  background-color: blueviolet;
}

.nav-btn {
  color: white;
  font-weight: bold;
}

.nav-btn:hover {
  cursor: pointer;
  color: lightgreen;
}

/* logRegBTNs============================================================================== */
.logRegBtnModalCont {
  display: flex;
  justify-content: center;
}
.logRegBtnModalCont button {
  width: 100%;
}
.logReggobackbtn {
  color: darkslategray;
  text-decoration: none;
}
.logReggobackbtn:hover {
  cursor: pointer;
  color: greenyellow;
}
/* ===== avatar css ======= */
.avatarImages {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: 0.5;
}
.avatarImages:hover {
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.avatarImageSelected {
  width: 55px;
  height: 55px;
  border: 2px solid blue;
}
/* user Profile =========================================================================*/
.userProfileCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
