.card {
  max-width: 18rem;
  max-height: 25rem;
  align-items: center;
  border: 1px solid blueviolet;
}

.card-body {
  padding: 0;
  margin: 0;
}

.head-2 {
  display: flex;
  align-items: center;
}

.card-title {
  color: black;
  font-size: medium;
}
.icon {
  color: blueviolet;
  font-size: x-large;
}

.card-text {
  color: black;
  text-decoration: none;
  font-size: small;
}

.category {
  font-size: x-small;
}

.card-favorite-button {
  /* color: green; */
  border: 1px solid blueviolet;
}
/* .card-favorite-button:hover {
  background-color: c5cae9;
} */
.favorite-container {
  display: flex;
  padding: 1rem;
  justify-content: end;
  align-items: center;
}
/* ---Search---*/
.reset-filters {
  border-color: white;
}
.selection {
  display: flex;
  justify-content: center;
}
.scroll-search-results {
  height: 109vh;
  overflow-y: auto;
  overflow: scroll;
}
.map-city-buttons {
  display: flex;
  justify-content: center;
}

.map-button {
  border: 1px solid #455a64;
}

/* ---user Profile--- */
.userProfileCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.userProfilePic {
  width: 200px;
  border-radius: 10%;
}
.profile-greeting,
.favorites-heading {
  font-family: optima;
  font-size: large;
}
