/* ----Search Page----- */
.scroll-search-results {
  height: 102vh;
  overflow-y: auto;
  overflow: scroll;
  margin-top: 38px;
}
/* ----User Profile Page---- */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgb(196, 247, 223);
  background: linear-gradient(
    180deg,
    rgba(196, 247, 223, 1) 0%,
    rgba(70, 226, 149, 0.4808517156862745) 52%
  ); */
  /* background-color: lightgreen; */
  padding: 10px;
  height: 100vh;
}
.profile-greeting {
  font-size: 2.5rem;
  font-family: "Urbanist", sans-serif;
  margin-bottom: 40px;
  color: darkslategray;
}
.user-profile-container {
  /* margin-top: 10px; */
  margin-left: 20px;
  margin-right: 20px;
}

.user-profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 25px;
}
.favorites-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Urbanist", sans-serif;
}
.your-favorite-resources {
  font-size: 1.5rem;
  /* font-weight: bold; */
  text-decoration: underline;
  margin-top: 20px;
  /* margin-bottom: 5px; */
  padding: 0px;
}
.favorites-list {
  text-align: center;
}
.user-profile-avatar {
  font-size: 8rem;
}
.building {
  width: 350px;
  margin-left: 80px;
}
.favorite-line-item {
  margin-top: 15px;
}
.favorite-a-tag:hover {
  color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
}
.delete-favorite {
  text-decoration: none;
  color: grey;
  margin-left: 20px;
  font-size: large;
}
.delete-favorite:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}
.favorite-a-tag {
  color: black;
  text-decoration: none;
}
.user-profile-fav-icon {
  margin-right: 10px;
  color: blueviolet;
}

/* ----Resource Card Component---- */
.resource-card {
  max-width: 18rem;
  /* max-height: 25rem; */
  align-items: center;
  border: 1px solid blueviolet;
  justify-content: center;
  display: flex;
  border-radius: 0.256rem;
  font-family: "Urbanist", sans-serif;
}
.card-title-div {
  display: flex;
  align-items: center;
}
.resource-card-title-name {
  color: black;
  font-size: large;
  font-weight: bold;
}
.card-icon {
  color: blueviolet;
  font-size: x-large;
}
.card-favorite-button {
  border: 1px solid blueviolet;
}
.card-favorite-button:hover {
  background-color: #d1c4e9;
}
.favorite-button-container {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

/* ----Selection Component----*/
.selection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-check-label {
  font-family: "Urbanist", sans-serif;
}
.question {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
  margin-top: 30px;
  /* color: #455a64; */
}
.container {
  margin-bottom: 40px;
}

/* ----Simple-Map Component---- */
.map-city-buttons {
  display: flex;
  justify-content: space-between;
}
.map-button {
  border: 1px solid #455a64;
  font-family: "Urbanist", sans-serif;
}

.map-button:hover {
  background-color: lightgray;
}
